.each-message
  %p.each-message__user= message.user.name
  %p.each-message__date= message.created_at
  - if message.image.present? == true && message.content.present? == false
    %img.each-message__image{src: "#{message.image}"}
  - elsif message.image.present? == false && message.content.present? == true
    %p.each-message__content= message.content
  -else
    %img.each-message__image{src: "#{message.image}"}
    %p.each-message__content= message.content
