.contents
  = render "shared/side_bar"
  .main-contents
    .current-group
      -# %ul.current-group
      %p.current-group__name= @group.name
      = link_to "Edit", edit_group_path(@group), class: "current-group__btn"
      %ul.current-group__member
        %li Member:
        - @group.users.each do |mem|
          %li= mem.name
        -# %li.current-group__name サンプルグループ
        -# %li.current-group__mem Member: watanabe

    .message-contents
      = render @messages
      -# - @messages.each do |message|
      -#   = render partial: "message", locals: {message: message}

    .post-message
      .message-form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: "message-form__text", placeholder: "type a message"
          = f.label :image, class: "image-form" do
            %i.fa.fa-picture-o
            = f.file_field :image, class: "image-form__btn"
          = f.submit "send", class: "message-form__send"
