.contents
  = render "shared/side_bar"
  .main-contents
    .main-header
      %ul.current-group
        %li.current-group__name サンプルグループ
        %li.current-group__mem Member: watanabe
      .group-edit
        = link_to "Edit", edit_group_path(current_user.groups), class: "edit-btn"
    .message-contents
      .posted-message
        - @messages.each do |message|
          .posted-message__user= message.user.name
          .posted-message__date= message.created_at
          .posted-message__content= message.content

    .post-message
      .message-form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: "message-form__text", placeholder: "type a message"
          = f.label :image, class: "image-form" do
            %i.fa.fa-picture-o
            = f.file_field :image, class: "image-form__btn"
          = f.submit "send", class: "message-form__send"
